.item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #fff;
    border: 2px solid #db0101d5;
    border-radius: 10px;
    width: fit-content;
}

.item-count button {
    background: none;
    color: #db0101d5;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
}

.item-count button:hover {
    background: #fadbdb;
    color: #db0101;
}