.productos {
    margin: 25px auto;
    padding: 0 20px;
}

.productos h2 {
    font-size: 2rem;
    color: #db0101;
    text-align: center;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}