.pageError {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}