* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f8f8f8;
  color: #222;
  gap: 20px;
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}